@model LabNet2021.TP07.MVC.Models.ShippersView

@{
    ViewBag.Title = "Modify Orders Page";
}

<h2>MODIFICAR DISTRIBUIDOR</h2>


@using (Html.BeginForm("EditConfirm", "Shippers", new { id = @ViewBag.ID }, FormMethod.Post))
{
    <table class="table table-responsive table-sm">
        <tbody>
            <tr>
                <td><label>ID DEL DISTRIBUIDOR </label></td>
                <td><p name="id">@ViewBag.ID</p></td>
                <td><p></p></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(s => s.CompanyName)</td>
                <td>@Html.TextBoxFor(s => s.CompanyName, new { Value = ViewBag.CompanyName, @class = "form-control", name = "phone" })</td>
                <td>@Html.ValidationMessageFor(s => s.CompanyName, null, new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(s => s.Phone)</td>
                <td>@Html.TextBoxFor(s => s.Phone, new { Value = ViewBag.Phone , @class = "form-control", name = "phone"})</td>
                <td>@Html.ValidationMessageFor(s => s.Phone, null, new { @class = "text-danger" })</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="btn btn-success" value="MODIFICAR">
    <a class="btn btn-warning" onclick="location.href='@Url.Action("IndexShippers")'">CANCELAR</a>
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />


