@model LabNet2021.TP07.MVC.Models.OrdersView

@{
    ViewBag.Title = "Insert Orders Page";
}

@using (Html.BeginForm("Insert", "Orders", FormMethod.Post))
{
    <h2>CARGAR ORDEN</h2>

    <table class="table table-responsive table-sm">
        <tbody>
            <tr>
                <td>@Html.LabelFor(o => o.ShippedDate)</td>
                <td>@Html.TextBoxFor(o => o.ShippedDate, "{yyyy-MM-dd}", new { @class = "form-control",  type = "date", name = "shippedDate" })</td>
                <td>@Html.ValidationMessageFor(o => o.ShippedDate, null, new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td><label>NOMBRE DEL DISTRIBUIDOR </label></td>
                <td>@Html.DropDownList("CompanyName")</td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.ShipName)</td>
                <td>@Html.TextBoxFor(o => o.ShipName, null, new { @class = "form-control", name = "shipName", placeholder = "Ingrese nombre del transporte" })</td>
                <td>@Html.ValidationMessageFor(o => o.ShipName, null, new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.Address)</td>
                <td>@Html.TextBoxFor(o => o.Address, null, new { @class = "form-control", name = "address", placeholder = "Ingrese direccion de envio" })</td>
                <td>@Html.ValidationMessageFor(o => o.Address, null, new { @class = "text-danger" })</td>                
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.City)</td>
                <td>@Html.TextBoxFor(o => o.City, null, new { @class = "form-control", name = "city", placeholder = "Ingrese ciudad de envio" })</td>
                <td>@Html.ValidationMessageFor(o => o.City, null, new { @class = "text-danger" })</td>                
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.Country)</td>
                <td>@Html.TextBoxFor(s => s.Country, null, new { @class = "form-control", name = "country", placeholder = "Ingrese pais de envio" })</td>
                <td>@Html.ValidationMessageFor(o => o.Country, null, new { @class = "text-danger" })</td>
            </tr>
        </tbody>
    </table>

    <input type="submit" class="btn btn-success" value="Guardar">
    <a class="btn btn-warning" onclick="location.href='@Url.Action("IndexOrders")'">CANCELAR</a>
}


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

