<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TP 7 Gonzalo Sinnott Segura</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-default bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Northwind Shipping Log", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("ORDENES", "IndexOrders", "Orders")</li>
                        <li>@Html.ActionLink("DISTRIBUIDORES", "IndexShippers", "Shippers")</li>
                        <li>@Html.ActionLink("API TEST POR CONTROLLER", "Index", "PublicApi")</li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Gonzalo Sinnott Segura -
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

